<div class='confirm-toilet'>
<img class='pic' src={{imageUrl}}>
<p>Location Name: {{location_name}}</p>
<p>Cost per Visit: {{price_per_use}}</p>
<p>Is it Child Friendly?{{child_friendly}}</p>
<p>Opening Time: {{openings_time}}</p>
<p><a href='/main'>Return to Main Map</a></p>
</div>